<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerlink="/">conduit</a>
    <ul class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerlink="/" routerLinkActive="active">
          Home
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerlink="/login" routerlinkactive="active">
          Sign in
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerlink="/register" routerlinkactive="active">
          Sign up
        </a>
      </li>
    </ul>
  </div>
</nav>